.contactpage .grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.grid-container main {
  width: 100vw;
}
.contactfooter {
  background-color: var(--footerColor);
  grid-column: 1/15;
  grid-row: 9;
  z-index: 1;
}
.contactmain {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  place-content: center;
  flex-wrap: wrap;
}
.contact1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 3/4;
  grid-column: 3/5;
}
.contact2 {
  display: flex;
  grid-row: 5/6;
  grid-column: 3/5;
  align-items: center;
}
.contact3 {
  display: flex;
  grid-row: 7/8;
  grid-column: 3/5;
  align-items: center;
}
.contact1 i {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact2 i {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact3 i {
  font-size: 3rem;
  margin-right: 1rem;
}
.mail {
  width: 100%;
  grid-row: 4;
  grid-column: 3/4;
  color: #0094ff;
}
.insta {
  width: 100%;
  grid-row: 6;
  grid-column: 3/4;
  color: #0094ff;
}
.twitt {
  width: 100%;
  grid-row: 8;
  grid-column: 3/4;
  color: #0094ff;
}
@media (max-width: 800px) {
  .contact1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 2/4;
    grid-column: 2/6;
  }
  .contact2 {
    display: flex;
    grid-row: 5/6;
    grid-column: 2/6;
    align-items: center;
  }
  .contact3 {
    display: flex;
    grid-row: 7/8;
    grid-column: 2/6;
    align-items: center;
  }
}
